* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

body {
      background: #F5F0E8;  /* main background */
      font-family: 'Inter', sans-serif;
      color: #2C2A24;
      line-height: 1.4;
    }

